[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Awesome Gnome
Exec=awesome-gnome
Icon=awesome
NoDisplay=true
X-GNOME-WMName=Awesome
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
